### sas

In [31]:
import saspy
import pandas as pd
sascfgfile="c:/code/pub/ct/sascfg.py"
sas=saspy.SASsession(cfgfile=sascfgfile)
dbsfile="c:/code/CUBEDEMO2017/spec.xlsx"
dbs=pd.read_excel(dbsfile)
_=sas.submit("""
 libname cubedemo "/home/u63544628/cubedemo";
""")

Using SAS Config named: oda
SAS Connection established. Subprocess id is 8484

In [32]:
datasets={q:sas.sasdata(q,"cubedemo") for q in dbs.DOMAIN.unique()}
datasets["EN"].columnInfo()

        Member  Num Variable  Type   Len   Pos
0  CUBEDEMO.EN  3.0    ICDTC  Char  30.0  54.0
1  CUBEDEMO.EN  1.0   SUBJID  Char  24.0   0.0
2  CUBEDEMO.EN  2.0  VERSION  Char  30.0  24.0

In [33]:
_=sas.submit("""
proc sql;
create table ENSV as
    select EN.SUBJID,EN.ICDTC,SV.SVDTC from CUBEDEMO.EN as EN
    left join CUBEDEMO.SV as SV on EN.SUBJID=SV.SUBJID and SV.VISIT=1
    ;
create table ENSV as
    select *,""||trim(SUBJID)||": earlier or no visit date: "||trim(ICDTC)||", "||trim(SVDTC)||"" as MSG from ENSV 
    where ICDTC > SVDTC
    ;
run;
""")
ensv=sas.sd2df("ENSV")
ensv

,SUBJID,ICDTC,SVDTC,MSG
0,S-1Z-004,2017-02-02,NaN,"S-1Z-004: earlier or no visit date: 2017-02-02,"
1,S-1Z-008,2017-02-08,2017-02-07,S-1Z-008: earlier or no visit date: 2017-02-08...
2,S-1Z-009,2017-02-07,2017-02-01,S-1Z-009: earlier or no visit date: 2017-02-07...
3,S-1Z-011,2017-02-08,2017-02-01,S-1Z-011: earlier or no visit date: 2017-02-08...
4,S-1Z-012,2017-02-17,2016-02-01,S-1Z-012: earlier or no visit date: 2017-02-17...
5,S-1Z-013,2017-02-05,2017-02-01,S-1Z-013: earlier or no visit date: 2017-02-05...
6,S-2Z-001,2017-02-17,2017-02-01,S-2Z-001: earlier or no visit date: 2017-02-17...
7,S-2Z-026,2017-02-02,NaN,"S-2Z-026: earlier or no visit date: 2017-02-02,"
8,S-2Z-035,2017-02-03,2017-02-02,S-2Z-035: earlier or no visit date: 2017-02-03...
9,S-3Z-019,2017-02-02,2017-01-16,S-3Z-019: earlier or no visit date: 2017-02-02...
10,S-3Z-022,2017-02-14,NaN,"S-3Z-022: earlier or no visit date: 2017-02-14,"
11,S-3Z-023,2016-02-14,NaN,"S-3Z-023: earlier or no visit date: 2016-02-14,"
12,S-3Z-027,2016-02-17,2016-02-14,S-3Z-027: earlier or no visit date: 2016-02-17...
13,S-3Z-038,2017-02-15,2017-02-08,S-3Z-038: earlier or no visit date: 2017-02-15...
14,S-3Z-040,2017-02-16,NaN,"S-3Z-040: earlier or no visit date: 2017-02-16,"
15,S-3Z-042,2017-02-16,2017-02-07,S-3Z-042: earlier or no visit date: 2017-02-16...
16,S-3Z-043,2017-02-16,2017-02-08,S-3Z-043: earlier or no visit date: 2017-02-16...
17,S-3Z-047,2017-03-01,NaN,"S-3Z-047: earlier or no visit date: 2017-03-01,"
18,S-3Z-051,2017-06-13,2017-06-01,S-3Z-051: earlier or no visit date: 2017-06-13...
19,S-4Z-001,2017-03-01,2013-09-25,S-4Z-001: earlier or no visit date: 2017-03-01...
20,S-5Z-006,2017-03-20,2017-03-15,S-5Z-006: earlier or no visit date: 2017-03-20...
21,S-5Z-007,2017-03-20,2017-03-15,S-5Z-007: earlier or no visit date: 2017-03-20...
22,S-JP-004,2017-06-01,2017-05-23,S-JP-004: earlier or no visit date: 2017-06-01...
23,S-MJ-014,2017-06-14,2017-06-04,S-MJ-014: earlier or no visit date: 2017-06-14...
24,S-MJ-015,2017-06-28,NaN,"S-MJ-015: earlier or no visit date: 2017-06-28,"
25,S-MJ-016,2017-06-28,NaN,"S-MJ-016: earlier or no visit date: 2017-06-28,"
26,S-MJ-017,2017-06-01,NaN,"S-MJ-017: earlier or no visit date: 2017-06-01,"
27,S-MJ-018,2017-06-28,NaN,"S-MJ-018: earlier or no visit date: 2017-06-28,"
28,S-US-008,2017-06-08,2017-06-07,S-US-008: earlier or no visit date: 2017-06-08...
29,S1Z001,2017-02-15,2017-02-14,"S1Z001: earlier or no visit date: 2017-02-15, ..."
30,S1Z002,2017-02-15,2016-12-01,"S1Z002: earlier or no visit date: 2017-02-15, ..."
31,S1Z004,2016-02-10,NaN,"S1Z004: earlier or no visit date: 2016-02-10,"
32,S1Z006,2017-02-08,NaN,"S1Z006: earlier or no visit date: 2017-02-08,"
33,S1Z008,2017-02-14,2017-02-06,"S1Z008: earlier or no visit date: 2017-02-14, ..."
34,S1Z010,2017-02-14,2017-02-07,"S1Z010: earlier or no visit date: 2017-02-14, ..."

In [39]:
_=sas.submit("""
proc sql;
create table CMPO as 
    select SUBJID,CMTRT,CMROUTE,
    ""||trim(SUBJID)||": unusual administaration route: "||trim(CMTRT)||": "||trim(CMROUTE)||"" as MSG 
    from CUBEDEMO.CM where 
    (CMTRT like "%CAP%" or CMTRT like "%TAB%" or CMTRT like "%SYR%" or CMTRT like "%SOLN%") and 
    CMROUTE<>"Oral"
    ;
run;
""")
cmpo=sas.sd2df("CMPO")
cmpo

,SUBJID,CMTRT,CMROUTE,MSG
0,S-1Z-007,DESARTAN TAB 16mg,NaN,S-1Z-007: unusual administaration route: DESAR...
1,S-1Z-007,ATENOLOL KYEUNG IN TAB 100mg,NaN,S-1Z-007: unusual administaration route: ATENO...
2,S-1Z-012,DESARTAN TAB 16mg,Intramuscular,S-1Z-012: unusual administaration route: DESAR...
3,S-1Z-012,NEWROSTIN TAB,NaN,S-1Z-012: unusual administaration route: NEWRO...
4,S-1Z-036,ERDOS CAP,dasd,S-1Z-036: unusual administaration route: ERDOS...
5,S-1Z-037,ESPROLE TAB 20mg,NaN,S-1Z-037: unusual administaration route: ESPRO...
6,S-2Z-003,KANGJUNGBING TAB,Intramuscular,S-2Z-003: unusual administaration route: KANGJ...
7,S-2Z-005,ROUTINES TAB,Intravenous,S-2Z-005: unusual administaration route: ROUTI...
8,S-2Z-005,ROUTINES TAB,Topical,S-2Z-005: unusual administaration route: ROUTI...
9,S-2Z-020,TYLENOL ER TAB 325mg,Intramuscular,S-2Z-020: unusual administaration route: TYLEN...
10,S-2Z-021,VENTOLIN SYR 480mcg,Intravenous,S-2Z-021: unusual administaration route: VENTO...
11,S-2Z-025,NEZOTIN TAB,Intravenous,S-2Z-025: unusual administaration route: NEZOT...
12,S-2Z-027,NEZOTIN TAB,Intravenous,S-2Z-027: unusual administaration route: NEZOT...
13,S-2Z-027,LODOPIN TAB 25mg,Intramuscular,S-2Z-027: unusual administaration route: LODOP...
14,S-2Z-027,LITEC COMP CAP,Intravenous,S-2Z-027: unusual administaration route: LITEC...
15,S-2Z-027,XALKORI CAP 200mg,Topical,S-2Z-027: unusual administaration route: XALKO...
16,S-2Z-029,GRIMEFOL SR TAB 2/500mg,Intravenous,S-2Z-029: unusual administaration route: GRIME...
17,S-2Z-029,LITEC COMP SYR,Topical,S-2Z-029: unusual administaration route: LITEC...
18,S-2Z-030,RAITECK TAB,Intravenous,S-2Z-030: unusual administaration route: RAITE...
19,S-2Z-030,NESP PREFILLED SYRINGE 10,Intravenous,S-2Z-030: unusual administaration route: NESP ...
20,S-2Z-030,NEZOTIN TAB,Intramuscular,S-2Z-030: unusual administaration route: NEZOT...
21,S-2Z-030,GRANGZEO TAB,Intravenous,S-2Z-030: unusual administaration route: GRANG...
22,S-2Z-034,AMOCTIN TAB 375mg,Topical,S-2Z-034: unusual administaration route: AMOCT...
23,S-2Z-038,GERLANON TAB,NaN,S-2Z-038: unusual administaration route: GERLA...
24,S-2Z-038,GERLANON TAB,NaN,S-2Z-038: unusual administaration route: GERLA...
25,S-3Z-002,WOOHWANG CHUNGSIMWON KYUNGNAM SOLN,Intravenous,S-3Z-002: unusual administaration route: WOOHW...
26,S-3Z-012,EYEBON W EYEWASH SOLN,Topical,S-3Z-012: unusual administaration route: EYEBO...
27,S-3Z-029,AMLODIPINE KUKJE TAB 5mg,NaN,S-3Z-029: unusual administaration route: AMLOD...
28,S-3Z-036,PANPYRIN S SOLN,Intramuscular,S-3Z-036: unusual administaration route: PANPY...
29,S-3Z-040,GEWORIN I TAB,NaN,S-3Z-040: unusual administaration route: GEWOR...
30,S-3Z-040,TYLENOL ER TAB 650mg,NaN,S-3Z-040: unusual administaration route: TYLEN...
31,S-JP-001,GEWORIN I TAB,NaN,S-JP-001: unusual administaration route: GEWOR...
32,S-JP-001,ASPIRIN DIRECT CHEW TAB,NaN,S-JP-001: unusual administaration route: ASPIR...
33,S-JP-002,SIMVASTATIN DONGSUNG TAB 20mg,NaN,S-JP-002: unusual administaration route: SIMVA...
34,S-US-004,GLO ASPIRIN ENTERIC COATED TAB 100mg,Topical,S-US-004: unusual administaration route: GLO A...
35,S1Z010,ROSURIDIN TAB 10mg,NaN,S1Z010: unusual administaration route: ROSURID...

In [40]:
_=sas.submit("""
proc sql;
create table MHSV as 
    select MH.SUBJID,MH.MHTERM,translate(MH.MHENDTC,"01","UK") as MHENDTC,SV.SVDTC from CUBEDEMO.MH as MH 
    left join CUBEDEMO.SV as SV on MH.SUBJID=SV.SUBJID and SV.VISIT=1 and SV.SVDTC is not null
    ;
run;

data MHSV;
    set MHSV;
    DTDELTA=input(MHENDTC,yymmdd10.)-input(SVDTC,yymmdd10.);
run;

proc sql;
create table MHSV as 
    select *,""||trim(SUBJID)||": extraneous MH as per protocol: "||put(DTDELTA,8.)||" days" as MSG
	from MHSV where DTDELTA<=-180 and DTDELTA is not null
	;
run;
""")
mhsv=sas.sd2df("MHSV")
mhsv

,SUBJID,MHTERM,MHENDTC,SVDTC,DTDELTA,MSG
0,S-1Z-012,Benign tumor of liver,2015-02-04,2016-02-01,-362.0,S-1Z-012 : extraneous MH as per...
1,S-1Z-030,Hyper HDL cholesterolaemia,2016-01-01,2016-07-21,-202.0,S-1Z-030 : extraneous MH as per...
2,S-1Z-036,Angina unstable,2016-03-17,2017-03-02,-350.0,S-1Z-036 : extraneous MH as per...
3,S-2Z-010,Pneumonia,2016-07-01,2017-01-29,-212.0,S-2Z-010 : extraneous MH as per...
4,S-2Z-014,Ache breast,2009-02-03,2016-02-02,-2555.0,S-2Z-014 : extraneous MH as per...
5,S-2Z-015,Head banging,2012-10-14,2016-03-03,-1236.0,S-2Z-015 : extraneous MH as per...
6,S-2Z-022,Ache breast,2016-01-01,2016-08-08,-220.0,S-2Z-022 : extraneous MH as per...
7,S-2Z-038,Pain biliary,2014-09-14,2015-03-15,-182.0,S-2Z-038 : extraneous MH as per...
8,S-2Z-038,Pain,2014-09-15,2015-03-15,-181.0,S-2Z-038 : extraneous MH as per...
9,S-3Z-003,Dorsal slit of prepuce,2004-02-17,2015-03-04,-4033.0,S-3Z-003 : extraneous MH as per...
10,S-4Z-001,MH-1-MHTERM,2007-08-19,2013-09-25,-2229.0,S-4Z-001 : extraneous MH as per...
11,S-MJ-005,Cerebral haemorrhage,2015-01-01,2016-03-17,-441.0,S-MJ-005 : extraneous MH as per...
12,S-MJ-008,Gallstones,2011-04-01,2016-04-06,-1832.0,S-MJ-008 : extraneous MH as per...
13,S-MJ-019,Headache,2017-01-01,2017-07-06,-186.0,S-MJ-019 : extraneous MH as per...

In [36]:
mhdtc.MHENDTC=mhdtc.MHENDTC.apply(lambda q:q.replace("UK","01") if not isinstance(q,float) else q)
mhdtc

       SUBJID                  MHTERM  MHONGO     MHENDTC
0    S-1Z-002                 TEST!!!     1.0         NaN
1    S-1Z-005    Common cold syndrome     2.0  2016-04-20
2    S-1Z-012         Hyperlipidaemia     2.0  2017-02-03
3    S-1Z-012   Benign tumor of liver     2.0  2015-02-04
4    S-1Z-018       Allergic rhinitis     1.0         NaN
..        ...                     ...     ...         ...
122  S-MJ-019                Headache     2.0  2017-01-01
123  S-US-001  Secondary hypertension     1.0         NaN
124  S-US-005       Nausea gravidarum     2.0  2016-02-05
125  S-US-006                  Nausea     2.0  2017-03-01
126  S-US-007          Aspirin asthma     2.0  2017-03-01

[127 rows x 4 columns]

In [37]:
mhdtc.replace([][][][][][][][])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3275760149.py, line 1)

In [ ]:
enidx=sas.sd2df("ENIDX")
enidx

       SUBJID       ICDTC
0    S-1Z-001  2016-02-15
1    S-1Z-002  2017-02-01
2    S-1Z-003  2017-02-01
3    S-1Z-004  2017-02-02
4    S-1Z-005  2016-02-10
..        ...         ...
180    S1Z006  2017-02-08
181    S1Z007  2017-02-08
182    S1Z008  2017-02-14
183    S1Z009  2017-02-08
184    S1Z010  2017-02-14

[185 rows x 2 columns]